
@{

    ViewData["Title"] = "Home Page";

}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <title>Language Translator</title>

    <style>

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            background-color: #f4f4f9;
            margin: 0;
        }

        h1 {
            margin-bottom: 20px;
        }

        .translator-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .textarea-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-top:20px;
        }

        textarea {
            width: 500px;
            height: 250px;
            margin: 0 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: none;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }

        .language-selection {
            margin-bottom: 20px;
        }

        .language-label {
            margin-right: 10px;
        }

    </style>

</head>

<body>
    <div class="row bg-black mt-3">
        <div class="col-md-6 bg-light">
            <h3 class=" text-center mt-2">Language Translator</h3>

            <div class="translator-container">

                <div class="col-md-12 language-selection text-center">

                    <label class="language-label">

                        <input type="radio" name="language" value="sv" checked> Swedish

                    </label>

                    <label class="language-label">

                        <input type="radio" name="language" value="es"> Spain
                    </label>
                    <label class="language-label">
                        <input type="radio" name="language" value="id"> Bahasa Indonesia
                    </label>

                </div>

                <div class="col-md-10 textarea-container">
                    <textarea id="sourceText" placeholder="Enter text..."></textarea>
                </div>

                <button id="translateButton">Translate</button>

                <div class="col-md-10 textarea-container">
                    <textarea id="targetText" placeholder="Translation..." readonly></textarea>
                </div>

            </div>

            <script>

                document.getElementById('translateButton').addEventListener('click', function () {

                    var srcText1 = document.getElementById('sourceText').value;

                    var language1 = document.querySelector('input[name="language"]:checked').value;

                    var targetTextArea = document.getElementById('targetText');


                    $.ajax({

                        url: '/Home/Translate', // The URL to send the data to

                        type: 'POST',

                        data: { srcText: srcText1, language: language1 },

                        success: function (response) {

                            // Handle the response from the server

                            document.getElementById('targetText').value = response.translatedText;

                            // alert(srcText1);

                        },

                        error: function (xhr, status, error) {

                            // Handle any errors

                            alert('An error occurred: ' + error);

                        }

                    });

                });

            </script>
        </div>
        <div class="col-md-6">
            <h3 class="text-center text-warning m-2">Chat Bot Assistant</h3>

            <div class="translator-container">

                <div class="textarea-container">

                    <textarea id="displayText" placeholder="Translation..." readonly style="width:550px; height:500px"></textarea>

                </div>

                <div class="textarea-container">

                    <textarea id="chatText" placeholder="Enter text..." style="height:50px"></textarea> <button id="send">Send</button>

                </div>

               

            </div>

            <script>

                document.getElementById('translateButton').addEventListener('click', function () {

                    var srcText1 = document.getElementById('sourceText').value;

                    var language1 = document.querySelector('input[name="language"]:checked').value;

                    var targetTextArea = document.getElementById('targetText');


                    $.ajax({

                        url: '/Home/Translate', // The URL to send the data to

                        type: 'POST',

                        data: { srcText: srcText1, language: language1 },

                        success: function (response) {

                            // Handle the response from the server

                            document.getElementById('targetText').value = response.translatedText;

                            // alert(srcText1);

                        },

                        error: function (xhr, status, error) {

                            // Handle any errors

                            alert('An error occurred: ' + error);

                        }

                    });

                });

                document.getElementById('send').addEventListener('click', function () {

                    var mychat = document.getElementById('chatText').value;

                    document.getElementById('displayText').append("\n ME: " + mychat);

                    document.getElementById('chatText').value = "";

                    $.ajax({

                        url: '/Home/Chat', // The URL to send the data to

                        type: 'POST',

                        data: { mychat: mychat },

                        success: function (response) {

                            // Handle the response from the server

                            document.getElementById('displayText').append("\n AI Assistant: " + response.translatedText);

                            // alert(srcText1);

                        },

                        error: function (xhr, status, error) {

                            // Handle any errors

                            alert('An error occurred: ' + error);

                        }

                    });

                });

            </script>
        </div>

    </div>
    

    

</body>

</html>

